
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title 我的jade页面
        style.
            div{
                color:red
            }
            p{
                font-size:48px
            }
    body
        div 我是一个box
        block Content